<h1 id="about_us">About Us</h1>

<nav id="abs_nav"> <!-- this is the absolute positioned nav bar that sits top left -->
  <h2><a href="" id="about_button">About</a></h2>
  <h2><a href="" id="history_button">History</a></h2>
</nav>

<div id="about_history">

  <div id="about_text">
    <h2></h2>
    <p></p>
    <p></p>
  </div>

  <div id="history_text">
    <h2></h2>
    <p></p>
    <p></p>
  </div>
  
</div>

