<h1 id="about_us">About Us</h1>

<nav id="abs_nav"> <!-- this is the absolute positioned nav bar that sits top left -->
  <h2><a href="" id="about_button">About</a></h2>
  <h2><a href="" id="history_button">History</a></h2>
</nav>

<div id="about_history">

  <div id="about_text">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A non qui, eos, voluptatum inventore cupiditate minus illum repellat hic, aliquid deserunt totam, laborum ut itaque quasi esse obcaecati modi quod.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A non qui, eos, voluptatum inventore cupiditate minus illum repellat hic, aliquid deserunt totam, laborum ut itaque quasi esse obcaecati modi quod.</p>
  </div>

  <div id="history_text">
    <h2>History</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi blanditiis quisquam minima quos facilis neque atque assumenda reiciendis ullam sit, laudantium modi dolore, earum autem at odio consequuntur voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A non qui, eos, voluptatum inventore cupiditate minus illum repellat hic, aliquid deserunt totam, laborum ut itaque quasi esse obcaecati modi quod.</p>
  </div>
  
</div>

