<h1>LET'S GET TOGETHER</h1>

<div id="find_us">
	<div id = "address">
    <h3>Our Home:</h3>
  	<p>Lunar Landing</p>
    <p>Spaceship 2</p>
    <p>(NYCDA's HQ)</p>
  </div>

	<div id = "map">
    <iframe width="400" height="400" src="http://maps.stamen.com/toner/embed#12/40.7298/-73.9849"></iframe>
  </div>


  <div id="contact_form">
    <form action="/contact" method="post">
      <input type="text" placeholder="YOUR NAME">
      <input type="email" name="email" placeholder="YOUR EMAIL ADDRESS">
      <input type="text" name="subject" placeholder="SUBJECT">
      <textarea name="body" placeholder="TALK TO US"></textarea>

      <button type="submit" class="btn">SUBMIT</button>
  </form>

  </div>

</div>