<h1 id="about_us">About Us</h1>

<nav id="abs_nav"> <!-- this is the absolute positioned nav bar that sits top left -->
  <h2><a href="/about" id="about_button">About</a></h2>
  <h2><a href="/history" id="history_button">History</a></h2>
</nav>

<div id="about_history">

  <div id="history_text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis praesentium ex aspernatur, mollitia quo dolor quibusdam explicabo, harum veniam, alias rerum atque! Explicabo molestias laudantium, tempore assumenda, fugit officia eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum adipisci, totam fugiat aperiam, possimus quaerat sunt. Aliquam accusamus debitis ad ab. In numquam, iste ducimus perspiciatis totam voluptates quam maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi mollitia quisquam debitis, delectus quas architecto amet veritatis recusandae facilis! Debitis asperiores inventore dolore dolores repellat esse soluta quidem provident. Asperiores.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum odio, dolorem architecto repellendus ad earum, eligendi. Recusandae laudantium sapiente perspiciatis ex quia itaque et enim assumenda eaque eveniet. Odit, reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, cupiditate vero deleniti, distinctio autem at explicabo maxime harum itaque alias nam ad repudiandae necessitatibus! Velit vel, quis cum facere voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam reprehenderit aliquid, sequi delectus possimus ipsa, consequuntur quisquam quaerat facilis alias incidunt hic nobis facere eius. Error voluptatum, odio nam!</p>
  </div>
  
</div>