<div id="main_img_div"> <!-- fullscreen div -->
<img src = "images/mars-globe-from-space.jpg"> <!-- cover photo -->
  <h1>Stake your claim</h1> <!-- cover photo - Overlay Heading text --> 
  <h2>For your future home</h2> <!-- cover photo - Overlay Heading subtext -->  
</div>

<div id="articles_div"> <!-- fullscreen div with 3 articles, each with an img, anchor, and p -->

  <article id="about_us">

    <img src="images/about-us.png">

    <h2><a href="/about">About Us</a></h2>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo fuga, obcaecati saepe, fugiat voluptate nostrum similique officia quae dolorum quos, dicta, tempore id perferendis! Ea soluta nostrum non, earum. Vero.</p>
    </div>

  </article>

  <article id="our_services">

    <img src="images/koloonia-marsil.jpg">

    <h2><a href="/services">Our Services</a></h2>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo fuga, obcaecati saepe, fugiat voluptate nostrum similique officia quae dolorum quos, dicta, tempore id perferendis! Ea soluta nostrum non, earum. Vero.</p>
    </div>

  </article>

  <article id="contact_us">

    <img src="images/map-bg3.jpg">

    <h2><a href="/contact">Contact Us</a></h2>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo fuga, obcaecati saepe, fugiat voluptate nostrum similique officia quae dolorum quos, dicta, tempore id perferendis! Ea soluta nostrum non, earum. Vero.</p>
    </div>

  </article>
  
</div>