<div id="main_img_div"> <!-- fullscreen div -->
<img src = "images/house.jpg"> <!-- cover photo -->
  <h1>Stake your claim</h1> <!-- cover photo - Overlay Heading text --> 
  <h2>For your future home</h2> <!-- cover photo - Overlay Heading subtext -->
  <a href="#articles_div"><i class="fa fa-arrow-circle-down fa-3x"></i></a>  
</div>

<div id="articles_div"> <!-- fullscreen div with 3 articles, each with an img, anchor, and p -->

  <article id="about_us">

    <img src="images/about-us.png">

    <h2><a href="/about">About Us</a></h2>

    <div>
      <p>Ever had thoughts about leaving Earth for another planet? Are you concerned Earth cannot sustain humanity forever? You are not alone. Learn more about our philosophy, our business, and what we do to address these very serious concerns.</p>
    </div>

  </article>

  <article id="our_services">

    <img src="images/koloonia-marsil.jpg">

    <h2><a href="/services">Our Services</a></h2>

    <div>
      <p>We know it's a big move and we don't take such decisions lightly. We want to ensure your comfort and safety on your big trip as well as at your destination. Click to learn more about our services and the lightyears you'll enjoy travelling with us.</p>
    </div>

  </article>

  <article id="contact_us">

    <img src="images/map-bg3.jpg">

    <h2><a href="/contact">Contact Us</a></h2>

    <div>
      <p>For more detailed information and any questions you may have, we are available 24 hours a day, seven days a week, and 365 days a year. Earth years, that is! We pride ourselves on our accessiblity and transparency. We speak your language. Please don't hesitate to reach out! </p>
    </div>

  </article>
  
</div>