<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src = "/scripts.js"></script>
</head>
<body>
<header>
<img id = "logo" src = ""> <!-- logo -->
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/about">About</a></li>
      <li><a href = "/services">Services</a></li>
      <li><a href = "/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<div id = "container">
  <%= yield %>
</div>



<footer>
  <div id = "social_media">
    <i class="fa fa-facebook-square fa-3x" id="icon"></i>
    <i class="fa fa-twitter-square fa-3x" id="icon"></i>
    <i class="fa fa-instagram fa-3x" id="icon"></i>
    <i class="fa fa-github-square fa-3x" id="icon"></i>

    <p>Find us at:</p>
    <p>Lunar Landing, Spaceship 2</p>
  </div>

  <div id = "contact">
    <p>Interested?</p>
    <p><a href="/contact">Talk to us</a>!</p>
    <p>We are excited to share our ideas with you!</p>
  </div>

  <p>With ♥ from NY to Mars, by Desi Sam and Ricardo</p>

</footer>

</body>
</html>