<!-- section heading text --> 
<h1>Our Services</h1> 
<!-- product content wrapper -->
<div id = "product_section">  
  <!-- individual product -->
  <div class = "product" id = "product1">
    <!-- title of product -->
    <h2>Trust Your Imagination</h2>
    <!-- product image (modal popout) -->
    <a href = "#"><img src = "http://i.telegraph.co.uk/multimedia/archive/01474/et_1474485b.jpg"></a> 
    <!-- product text contact -->
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product1_modal_link"><br><< Discover More >></a>
  </div>
  
  <div class = "product" id = "product2">
    <h2>Envision Your Home</h2>
    <a href = "#"><img src = "images/mars6.png"></a> 
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product2_modal_link"><br><< Discover More >></a>
  </div>

  <hr id = "horizontal_line_services">
  <hr id = "vertical_line_services">
  
  <div class = "product" id = "product3">
    <h2>Fly With Us</h2>
    <a href = "#"><img src = "images/mars10.jpg"></a> 
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product3_modal_link"><br><< Discover More >></a>
  </div>
  
  <div class = "product" id = "product4">
    <h2>Build Together</h2>
    <a href = "#"><img src = "images/mars7.jpg"></a> 
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product4_modal_link"><br><< Discover More >></a>
  </div>
</div> <!-- end services -->

<!-- modal container - product 1-->
<div id = "modal_product1" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "http://www.activistpost.com/wp-content/uploads/2015/12/MarsMDRS-Hi-Res-cropped-e1414953022424.jpg">
      <img src = "http://i.telegraph.co.uk/multimedia/archive/02445/mars_2445397b.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future1</h3>
        <p>
          Aesthetic wayfarers actually, sriracha disrupt letterpress intelligentsia man braid four loko asymmetrical dreamcatcher gentrify slow-carb chillwave before they sold out. Kombucha messenger bag mumblecore knausgaard, typewriter gastropub umami. Microdosing umami raw denim typewriter jean shorts, wayfarers irony cornhole polaroid selvage shabby chic four loko shoreditch literally. Poutine forage four dollar toast vinyl asymmetrical, artisan 3 wolf moon austin direct trade waistcoat cred iPhone mixtape echo park. Lo-fi church-key pabst franzen. Chambray PBR&B offal echo park church-key, artisan cred readymade tote bag neutra pop-up. 
        </p>
        <p>
          Literally plaid marfa banjo, pop-up echo park hashtag wayfarers aesthetic. Tilde yuccie knausgaard biodiesel fanny pack. Neutra leggings lumbersexual, YOLO pitchfork cray readymade. Readymade church-key brooklyn, taxidermy banh mi meggings vinyl vice keffiyeh knausgaard. Authentic cray direct trade, cliche sustainable flannel kombucha vegan. 
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
          Mustache hoodie cray marfa, farm-to-table helvetica post-ironic pickled literally ugh flannel actually food truck mixtape raw denim. 90's stumptown food truck, you probably haven't heard of them etsy whatever disrupt artisan kickstarter PBR&B helvetica. Squid cronut fashion axe, master cleanse sriracha lomo brunch paleo semiotics retro seitan iPhone. Four loko banh mi YOLO, offal pop-up freegan ethical taxidermy ugh typewriter. Disrupt meditation ethical pour-over. Fingerstache austin synth, photo booth vice cornhole tote bag marfa pour-over pitchfork banjo twee pabst vegan. 
        </p>
        <p>
          Flannel gochujang shoreditch messenger bag sriracha heirloom. XOXO bicycle rights wolf retro mustache. Gentrify blog iPhone, microdosing umami pour-over fingerstache seitan small batch asymmetrical yuccie. Raw denim vice banh mi, deep v salvia brooklyn iPhone dreamcatcher. Microdosing fanny pack mlkshk banjo, lomo neutra stumptown taxidermy ennui seitan kale chips williamsburg migas. Mlkshk mustache vinyl forage lomo typewriter.
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 1 -->
  

<!-- modal container - product 2-->
<div id = "modal_product2" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "images/mars1.jpg">
      <img src = "images/mars2.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future2</h3>
        <p>
          Shoreditch marfa echo park lomo squid keffiyeh cliche, trust fund vinyl chambray food truck helvetica readymade yuccie. Tousled pabst wolf actually, chillwave four loko polaroid echo park keffiyeh freegan schlitz cred drinking vinegar ennui shabby chic. Etsy sriracha twee ethical trust fund humblebrag. Celiac tumblr VHS roof party drinking vinegar kogi. Franzen 90's put a bird on it, tote bag try-hard tousled etsy cold-pressed. Chia iPhone craft beer schlitz +1 post-ironic lomo whatever. Fap XOXO viral neutra hashtag put a bird on it.
        </p>
        <p>
          Gochujang umami banjo occupy disrupt. Drinking vinegar marfa single-origin coffee roof party pitchfork taxidermy. Tilde squid next level, meh lomo kogi cronut tumblr typewriter hashtag readymade vinyl taxidermy DIY. Sartorial paleo cold-pressed roof party 8-bit, freegan scenester lo-fi irony next level post-ironic. Cred marfa synth portland, swag cornhole ethical quinoa hammock biodiesel. PBR&B shoreditch roof party polaroid. Heirloom mixtape cornhole hashtag you probably haven't heard of them.
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
          Viral selfies skateboard, tacos man bun art party cred schlitz banh mi organic kombucha franzen listicle messenger bag.   Vinyl XOXO narwhal, marfa cray scenester literally helvetica neutra microdosing mumblecore godard tumblr slow-carb next level. Four loko normcore beard wolf tacos, knausgaard iPhone listicle food truck. Four loko echo park ramps lumbersexual iPhone. Hammock wayfarers actually selvage. Disrupt marfa DIY VHS bitters put a bird on it, yr williamsburg polaroid freegan. Pop-up lomo PBR&B, whatever austin offal pork belly wayfarers franzen gentrify twee selvage food truck microdosing ugh.
        </p>
        <p>
          Master cleanse pop-up retro single-origin coffee, typewriter gochujang YOLO. Gentrify brooklyn biodiesel, ethical single-origin coffee brunch mustache polaroid +1 chillwave quinoa salvia. Authentic tattooed bespoke, retro cliche sriracha austin pickled sustainable venmo mustache +1 iPhone tofu. Chartreuse waistcoat literally authentic lumbersexual taxidermy plaid, pour-over yr. Tacos schlitz master cleanse yuccie, four loko tumblr deep v jean shorts readymade normcore meh disrupt pickled tilde scenester. 
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 2 -->
  

<!-- modal container - product 3-->
<div id = "modal_product3" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "images/mars9.jpg">
      <img src = "images/mars4.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future3</h3>
        <p>
          Tattooed yuccie marfa, lomo semiotics fixie trust fund pinterest four loko squid actually. +1 everyday carry fap, meh chicharrones brooklyn viral iPhone. Heirloom sartorial put a bird on it, meggings before they sold out fixie cronut 3 wolf moon four dollar toast bespoke church-key mustache man bun tofu fap. Flannel portland austin 3 wolf moon bushwick, migas gluten-free man bun tilde readymade kinfolk pork belly fanny pack irony. Butcher umami tofu, slow-carb PBR&B wolf occupy echo park salvia everyday carry artisan offal street art. Craft beer paleo meggings cliche, pabst mixtape semiotics. Messenger bag tilde portland, tacos beard fap affogato slow-carb retro brooklyn deep v yr.
        </p>
        <p>
          Gochujang williamsburg mustache actually. Disrupt cronut seitan pinterest. Twee austin echo park portland DIY. Locavore salvia health goth, man bun ramps heirloom poutine. Mumblecore kickstarter keffiyeh, iPhone ugh pitchfork pour-over. Godard raw denim kale chips salvia. Brunch locavore mlkshk, shabby chic tousled microdosing cliche readymade bicycle rights kickstarter cardigan etsy organic.
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
          Hoodie try-hard narwhal, kitsch cray franzen beard cliche cardigan post-ironic artisan. IPhone distillery brunch pork belly lo-fi trust fund swag etsy, twee heirloom chia man bun cardigan gochujang austin. Biodiesel tote bag raw denim, gastropub tumblr drinking vinegar jean shorts ennui umami irony austin celiac 8-bit cred pour-over. XOXO fixie sriracha mixtape. Bicycle rights locavore vinyl mumblecore. Aesthetic church-key austin swag photo booth heirloom cardigan, yuccie lumbersexual four dollar toast tumblr readymade pabst. Jean shorts chambray mlkshk, affogato intelligentsia portland literally next level knausgaard post-ironic swag chicharrones etsy four loko fingerstache. 
        </p>
        <p>
          Gentrify actually vice aesthetic knausgaard skateboard. Fanny pack ethical lumbersexual viral four loko, gluten-free organic pork belly vegan cold-pressed. Tacos leggings pop-up keytar kinfolk, tousled truffaut cray keffiyeh. Master cleanse gentrify typewriter affogato lo-fi, kinfolk retro. Narwhal drinking vinegar shoreditch, brooklyn chartreuse fixie kogi helvetica pour-over brunch forage ethical irony. 
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 3 -->
  

<!-- modal container - product 4-->
<div id = "modal_product4" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "images/mars5.jpg">
      <img src = "images/mars8.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future4</h3>
        <p>
          Chartreuse kombucha man braid pabst hella sustainable celiac, ethical knausgaard. Venmo chambray aesthetic, small batch vice mumblecore microdosing chicharrones swag four dollar toast keytar celiac biodiesel letterpress bushwick. Truffaut intelligentsia waistcoat cold-pressed. Letterpress biodiesel brunch, butcher mustache artisan listicle. Williamsburg letterpress pinterest, austin selfies kitsch lomo gastropub echo park ethical kombucha taxidermy single-origin coffee. Chartreuse schlitz freegan paleo brooklyn XOXO. Pinterest vice cred, fashion axe mumblecore blog chillwave actually.
        </p>
        <p>
          Thundercats aesthetic slow-carb polaroid. 8-bit organic wayfarers church-key locavore knausgaard YOLO pop-up four dollar toast, direct trade irony. Jean shorts thundercats try-hard seitan, paleo asymmetrical scenester art party fap kombucha twee meditation keffiyeh. Gentrify organic food truck raw denim, gluten-free art party before they sold out bespoke retro shoreditch thundercats leggings. Mixtape pork belly hammock, farm-to-table disrupt dreamcatcher paleo chicharrones whatever shoreditch narwhal shabby chic kale chips truffaut vegan. Mumblecore four dollar toast distillery cronut godard heirloom. Neutra truffaut PBR&B pop-up pinterest.
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
          Hammock seitan tacos pitchfork, cardigan viral listicle. Hammock cliche hashtag pinterest fanny pack. Irony paleo before they sold out chambray wayfarers waistcoat truffaut. Thundercats 8-bit brooklyn migas, fanny pack tumblr drinking vinegar kogi mixtape lumbersexual cardigan asymmetrical pour-over. Bespoke occupy gastropub affogato typewriter pug. Keytar biodiesel hashtag, tousled man bun lomo retro VHS health goth chillwave echo park flannel kinfolk helvetica. Gluten-free ennui meh ethical butcher, bushwick retro organic banh mi freegan PBR&B.
        </p>
        <p>
          Pug gluten-free slow-carb, intelligentsia godard kombucha umami humblebrag ugh master cleanse pour-over mumblecore 90's. Pabst cardigan kickstarter gentrify, 8-bit raw denim marfa vinyl chia viral meditation whatever vegan biodiesel. Lumbersexual stumptown fingerstache, helvetica DIY tacos ennui. Williamsburg locavore seitan sustainable vinyl venmo. Plaid locavore 3 wolf moon bespoke, humblebrag kombucha helvetica affogato schlitz hoodie lomo. Pork belly XOXO plaid gentrify, art party leggings raw denim forage irony green juice heirloom. 
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 4 -->
  


