<!-- section heading text --> 
<h1>Our Services</h1> 
<!-- product content wrapper -->
<div id = "product_section">  
  <!-- individual product -->
  <div class = "product" id = "product1">
    <!-- title of product -->
    <h2>Trust Your Imagination</h2>
    <!-- product image (modal popout) -->
    <a href = "#"><img src = "http://i.telegraph.co.uk/multimedia/archive/01474/et_1474485b.jpg"></a> 
    <!-- product text contact -->
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product1_modal_link"><br><< Discover More >></a>
  </div>
  
  <div class = "product" id = "product2">
    <h2>Envision Your Home</h2>
    <a href = "#"><img src = "images/mars6.png"></a> 
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product2_modal_link"><br><< Discover More >></a>
  </div>

  <hr id = "horizontal_line_services">
  <hr id = "vertical_line_services">
  
  <div class = "product" id = "product3">
    <h2>Fly With Us</h2>
    <a href = "#"><img src = "images/mars10.jpg"></a> 
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product3_modal_link"><br><< Discover More >></a>
  </div>
  
  <div class = "product" id = "product4">
    <h2>Build Together</h2>
    <a href = "#"><img src = "images/mars7.jpg"></a> 
    <p>
      The idea of living on Mars has been a staple of science fiction since the 19th century, when American astronomer Percival Lowell speculated that the channels on the Red Planet were really ancient canals built by intelligent extraterrestrials.<br><br>

      But if this sci-fi dream were to ever become reality, what would it be like to actually live on Mars?
    </p> 
    <a href = "#" class  = "product_discover_more_link" id = "product4_modal_link"><br><< Discover More >></a>
  </div>
</div> <!-- end services -->

<!-- modal container - product 1-->
<div id = "modal_product1" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "http://www.activistpost.com/wp-content/uploads/2015/12/MarsMDRS-Hi-Res-cropped-e1414953022424.jpg">
      <img src = "http://i.telegraph.co.uk/multimedia/archive/02445/mars_2445397b.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future1</h3>
        <p>
          Aesthetic wayfarers actually, sriracha disrupt letterpress intelligentsia man braid four loko asymmetrical dreamcatcher gentrify slow-carb chillwave before they sold out. Kombucha messenger bag mumblecore knausgaard, typewriter gastropub umami. Microdosing umami raw denim typewriter jean shorts, wayfarers irony cornhole polaroid selvage shabby chic four loko shoreditch literally. Poutine forage four dollar toast vinyl asymmetrical, artisan 3 wolf moon austin direct trade waistcoat cred iPhone mixtape echo park. Lo-fi church-key pabst franzen. Chambray PBR&B offal echo park church-key, artisan cred readymade tote bag neutra pop-up. 
        </p>
        <p>
        Literally plaid marfa banjo, pop-up echo park hashtag wayfarers aesthetic. Tilde yuccie knausgaard biodiesel fanny pack. Neutra leggings lumbersexual, YOLO pitchfork cray readymade. Readymade church-key brooklyn, taxidermy banh mi meggings vinyl vice keffiyeh knausgaard. Authentic cray direct trade, cliche sustainable flannel kombucha vegan. 
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
        Mustache hoodie cray marfa, farm-to-table helvetica post-ironic pickled literally ugh flannel actually food truck mixtape raw denim. 90's stumptown food truck, you probably haven't heard of them etsy whatever disrupt artisan kickstarter PBR&B helvetica. Squid cronut fashion axe, master cleanse sriracha lomo brunch paleo semiotics retro seitan iPhone. Four loko banh mi YOLO, offal pop-up freegan ethical taxidermy ugh typewriter. Disrupt meditation ethical pour-over. Fingerstache austin synth, photo booth vice cornhole tote bag marfa pour-over pitchfork banjo twee pabst vegan. 
        </p>
        <p>
        Flannel gochujang shoreditch messenger bag sriracha heirloom. XOXO bicycle rights wolf retro mustache. Gentrify blog iPhone, microdosing umami pour-over fingerstache seitan small batch asymmetrical yuccie. Raw denim vice banh mi, deep v salvia brooklyn iPhone dreamcatcher. Microdosing fanny pack mlkshk banjo, lomo neutra stumptown taxidermy ennui seitan kale chips williamsburg migas. Mlkshk mustache vinyl forage lomo typewriter.
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 1 -->
  

<!-- modal container - product 2-->
<div id = "modal_product2" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "images/mars1.jpg">
      <img src = "images/mars2.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future2</h3>
        <p>
          Aesthetic wayfarers actually, sriracha disrupt letterpress intelligentsia man braid four loko asymmetrical dreamcatcher gentrify slow-carb chillwave before they sold out. Kombucha messenger bag mumblecore knausgaard, typewriter gastropub umami. Microdosing umami raw denim typewriter jean shorts, wayfarers irony cornhole polaroid selvage shabby chic four loko shoreditch literally. Poutine forage four dollar toast vinyl asymmetrical, artisan 3 wolf moon austin direct trade waistcoat cred iPhone mixtape echo park. Lo-fi church-key pabst franzen. Chambray PBR&B offal echo park church-key, artisan cred readymade tote bag neutra pop-up. 
        </p>
        <p>
        Literally plaid marfa banjo, pop-up echo park hashtag wayfarers aesthetic. Tilde yuccie knausgaard biodiesel fanny pack. Neutra leggings lumbersexual, YOLO pitchfork cray readymade. Readymade church-key brooklyn, taxidermy banh mi meggings vinyl vice keffiyeh knausgaard. Authentic cray direct trade, cliche sustainable flannel kombucha vegan. 
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
        Mustache hoodie cray marfa, farm-to-table helvetica post-ironic pickled literally ugh flannel actually food truck mixtape raw denim. 90's stumptown food truck, you probably haven't heard of them etsy whatever disrupt artisan kickstarter PBR&B helvetica. Squid cronut fashion axe, master cleanse sriracha lomo brunch paleo semiotics retro seitan iPhone. Four loko banh mi YOLO, offal pop-up freegan ethical taxidermy ugh typewriter. Disrupt meditation ethical pour-over. Fingerstache austin synth, photo booth vice cornhole tote bag marfa pour-over pitchfork banjo twee pabst vegan. 
        </p>
        <p>
        Flannel gochujang shoreditch messenger bag sriracha heirloom. XOXO bicycle rights wolf retro mustache. Gentrify blog iPhone, microdosing umami pour-over fingerstache seitan small batch asymmetrical yuccie. Raw denim vice banh mi, deep v salvia brooklyn iPhone dreamcatcher. Microdosing fanny pack mlkshk banjo, lomo neutra stumptown taxidermy ennui seitan kale chips williamsburg migas. Mlkshk mustache vinyl forage lomo typewriter.
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 2 -->
  

<!-- modal container - product 3-->
<div id = "modal_product3" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "images/mars9.jpg">
      <img src = "images/mars4.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future3</h3>
        <p>
          Aesthetic wayfarers actually, sriracha disrupt letterpress intelligentsia man braid four loko asymmetrical dreamcatcher gentrify slow-carb chillwave before they sold out. Kombucha messenger bag mumblecore knausgaard, typewriter gastropub umami. Microdosing umami raw denim typewriter jean shorts, wayfarers irony cornhole polaroid selvage shabby chic four loko shoreditch literally. Poutine forage four dollar toast vinyl asymmetrical, artisan 3 wolf moon austin direct trade waistcoat cred iPhone mixtape echo park. Lo-fi church-key pabst franzen. Chambray PBR&B offal echo park church-key, artisan cred readymade tote bag neutra pop-up. 
        </p>
        <p>
        Literally plaid marfa banjo, pop-up echo park hashtag wayfarers aesthetic. Tilde yuccie knausgaard biodiesel fanny pack. Neutra leggings lumbersexual, YOLO pitchfork cray readymade. Readymade church-key brooklyn, taxidermy banh mi meggings vinyl vice keffiyeh knausgaard. Authentic cray direct trade, cliche sustainable flannel kombucha vegan. 
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
        Mustache hoodie cray marfa, farm-to-table helvetica post-ironic pickled literally ugh flannel actually food truck mixtape raw denim. 90's stumptown food truck, you probably haven't heard of them etsy whatever disrupt artisan kickstarter PBR&B helvetica. Squid cronut fashion axe, master cleanse sriracha lomo brunch paleo semiotics retro seitan iPhone. Four loko banh mi YOLO, offal pop-up freegan ethical taxidermy ugh typewriter. Disrupt meditation ethical pour-over. Fingerstache austin synth, photo booth vice cornhole tote bag marfa pour-over pitchfork banjo twee pabst vegan. 
        </p>
        <p>
        Flannel gochujang shoreditch messenger bag sriracha heirloom. XOXO bicycle rights wolf retro mustache. Gentrify blog iPhone, microdosing umami pour-over fingerstache seitan small batch asymmetrical yuccie. Raw denim vice banh mi, deep v salvia brooklyn iPhone dreamcatcher. Microdosing fanny pack mlkshk banjo, lomo neutra stumptown taxidermy ennui seitan kale chips williamsburg migas. Mlkshk mustache vinyl forage lomo typewriter.
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 3 -->
  

<!-- modal container - product 4-->
<div id = "modal_product4" class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
      <img src = "images/mars5.jpg">
      <img src = "images/mars8.jpg">
    <div class = "modal_text_container">
      <div class = "modal_article1">
        <h3>Envision Your Future4</h3>
        <p>
          Aesthetic wayfarers actually, sriracha disrupt letterpress intelligentsia man braid four loko asymmetrical dreamcatcher gentrify slow-carb chillwave before they sold out. Kombucha messenger bag mumblecore knausgaard, typewriter gastropub umami. Microdosing umami raw denim typewriter jean shorts, wayfarers irony cornhole polaroid selvage shabby chic four loko shoreditch literally. Poutine forage four dollar toast vinyl asymmetrical, artisan 3 wolf moon austin direct trade waistcoat cred iPhone mixtape echo park. Lo-fi church-key pabst franzen. Chambray PBR&B offal echo park church-key, artisan cred readymade tote bag neutra pop-up. 
        </p>
        <p>
        Literally plaid marfa banjo, pop-up echo park hashtag wayfarers aesthetic. Tilde yuccie knausgaard biodiesel fanny pack. Neutra leggings lumbersexual, YOLO pitchfork cray readymade. Readymade church-key brooklyn, taxidermy banh mi meggings vinyl vice keffiyeh knausgaard. Authentic cray direct trade, cliche sustainable flannel kombucha vegan. 
        </p>
      </div>
      <div class = "modal_article2">
        <h3>Envision Your Future</h3>
        <p>
        Mustache hoodie cray marfa, farm-to-table helvetica post-ironic pickled literally ugh flannel actually food truck mixtape raw denim. 90's stumptown food truck, you probably haven't heard of them etsy whatever disrupt artisan kickstarter PBR&B helvetica. Squid cronut fashion axe, master cleanse sriracha lomo brunch paleo semiotics retro seitan iPhone. Four loko banh mi YOLO, offal pop-up freegan ethical taxidermy ugh typewriter. Disrupt meditation ethical pour-over. Fingerstache austin synth, photo booth vice cornhole tote bag marfa pour-over pitchfork banjo twee pabst vegan. 
        </p>
        <p>
        Flannel gochujang shoreditch messenger bag sriracha heirloom. XOXO bicycle rights wolf retro mustache. Gentrify blog iPhone, microdosing umami pour-over fingerstache seitan small batch asymmetrical yuccie. Raw denim vice banh mi, deep v salvia brooklyn iPhone dreamcatcher. Microdosing fanny pack mlkshk banjo, lomo neutra stumptown taxidermy ennui seitan kale chips williamsburg migas. Mlkshk mustache vinyl forage lomo typewriter.
        </p>
      </div>
      <a href = "/contact" class = "modal_contact_link"><< Ask us about this package >></a>
    </div>
  </div>
</div> <!-- end modal product 4 -->
  


