<!-- section heading text --> 
<h1>Our Services</h1> 
<!-- product content wrapper -->
<div id = "product_section">  
  <!-- individual product -->
  <div class = "product" id = "product1">
    <!-- title of product -->
    <h2>Product</h2>
    <!-- product image (modal popout) -->
    <a href = "#"><img src = "http://i.telegraph.co.uk/multimedia/archive/01474/et_1474485b.jpg"></a> 
    <!-- product text contact -->
    <p>
      ONE - Selfies gastropub gentrify wolf readymade, venmo XOXO blog. Church-key paleo hashtag chicharrones biodiesel beard. Squid viral cray plaid retro you probably haven't heard of them mumblecore occupy, bicycle rights wolf food truck offal freegan hashtag kale chips.
    </p> 
  </div>
  <div class = "product" id = "product2">
    <h2>Product</h2>
    <a href = "#"><img src = "http://i.telegraph.co.uk/multimedia/archive/01474/et_1474485b.jpg"></a> 
    <p>
      TWO - Selfies gastropub gentrify wolf readymade, venmo XOXO blog. Church-key paleo hashtag chicharrones biodiesel beard. Squid viral cray plaid retro you probably haven't heard of them mumblecore occupy, bicycle rights wolf food truck offal freegan hashtag kale chips.
    </p> 
  </div>
  <hr id = "horizontal_line_services">
  <hr id = "vertical_line_services">
  <div class = "product" id = "product3">
    <h2>Product</h2>
    <a href = "#"><img src = "http://i.telegraph.co.uk/multimedia/archive/01474/et_1474485b.jpg"></a> 
    <p>
      THREE - Selfies gastropub gentrify wolf readymade, venmo XOXO blog. Church-key paleo hashtag chicharrones biodiesel beard. Squid viral cray plaid retro you probably haven't heard of them mumblecore occupy, bicycle rights wolf food truck offal freegan hashtag kale chips.
    </p> 
  </div>
  <div class = "product" id = "product4">
    <h2>Product</h2>
    <a href = "#"><img src = "http://i.telegraph.co.uk/multimedia/archive/01474/et_1474485b.jpg"></a> 
    <p>
      FOUR - Selfies gastropub gentrify wolf readymade, venmo XOXO blog. Church-key paleo hashtag chicharrones biodiesel beard. Squid viral cray plaid retro you probably haven't heard of them mumblecore occupy, bicycle rights wolf food truck offal freegan hashtag kale chips.
    </p> 
  </div>
</div> <!-- end services -->

<!-- modal container-->
<div class = "modal_background">
  <div class = "modal_product_container">
    <a href = "#"><span class = "modal_close">X</span></a>
    <div class = "modal_images">    
      <img src = "http://www.activistpost.com/wp-content/uploads/2015/12/MarsMDRS-Hi-Res-cropped-e1414953022424.jpg">
      <img src = "http://i.telegraph.co.uk/multimedia/archive/02445/mars_2445397b.jpg">
    </div>
    <div class = "modal_text">
      <p>
        Aesthetic wayfarers actually, sriracha disrupt letterpress intelligentsia man braid four loko asymmetrical dreamcatcher gentrify slow-carb chillwave before they sold out. Kombucha messenger bag mumblecore knausgaard, typewriter gastropub umami. Microdosing umami raw denim typewriter jean shorts, wayfarers irony cornhole polaroid selvage shabby chic four loko shoreditch literally. Poutine forage four dollar toast vinyl asymmetrical, artisan 3 wolf moon austin direct trade waistcoat cred iPhone mixtape echo park. Lo-fi church-key pabst franzen. Chambray PBR&B offal echo park church-key, artisan cred readymade tote bag neutra pop-up. Fanny pack marfa irony, franzen 3 wolf moon stumptown jean shorts poutine yuccie church-key cardigan.
      </p>
      <p>
      Literally plaid marfa banjo, pop-up echo park hashtag wayfarers aesthetic. Tilde yuccie knausgaard biodiesel fanny pack. Neutra leggings lumbersexual, YOLO pitchfork cray readymade. Readymade church-key brooklyn, taxidermy banh mi meggings vinyl vice keffiyeh knausgaard. Authentic cray direct trade, cliche sustainable flannel kombucha vegan. Retro art party iPhone, typewriter deep v kickstarter neutra flannel try-hard keffiyeh health goth helvetica everyday carry locavore chartreuse. Crucifix shabby chic kickstarter, franzen cray vegan intelligentsia.
      </p>
      <p>
      Mustache hoodie cray marfa, farm-to-table helvetica post-ironic pickled literally ugh flannel actually food truck mixtape raw denim. 90's stumptown food truck, you probably haven't heard of them etsy whatever disrupt artisan kickstarter PBR&B helvetica. Squid cronut fashion axe, master cleanse sriracha lomo brunch paleo semiotics retro seitan iPhone. Four loko banh mi YOLO, offal pop-up freegan ethical taxidermy ugh typewriter. Disrupt meditation ethical pour-over. Fingerstache austin synth, photo booth vice cornhole tote bag marfa pour-over pitchfork banjo twee pabst vegan. Cray irony occupy, ugh meditation biodiesel green juice asymmetrical narwhal brunch viral.
      </p>
      <p>
      Flannel gochujang shoreditch messenger bag sriracha heirloom. XOXO bicycle rights wolf retro mustache. Gentrify blog iPhone, microdosing umami pour-over fingerstache seitan small batch asymmetrical yuccie. Raw denim vice banh mi, deep v salvia brooklyn iPhone dreamcatcher. Microdosing fanny pack mlkshk banjo, lomo neutra stumptown taxidermy ennui seitan kale chips williamsburg migas. Lumbersexual messenger bag flannel, gastropub godard post-ironic mumblecore mixtape bitters four dollar toast pork belly. Mlkshk mustache vinyl forage lomo typewriter.
      </p>
    </div>
  </div>
</div> <!-- end modal -->
  


