/* GENERAL */
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
@import url('http://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: .9em;
    line-height: 1.2;
}

/* HEADER */

header {
  width: 100%;
  background-color: #6292A8;
  height: 8em;
}

#logo1 {
  position: absolute;
  left: 30px;
  top: 10px;
  height: 90px;
  width: 90px;
}

#logo2 {
  position: absolute;
  left: 130px;
  top: 10px;
  height: 90px;
  width: 90px;  
}

/* NAVBAR */

nav {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 60px;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 10px 0;
  margin-right: -4px;
  width: 120px;
  text-align: center;
  font-family: "Roboto";
  font-size: 22px;
}

nav a {
  padding: 10px 20px;
  margin: 0;
  width: 120px;
  text-decoration: none;
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

nav a:hover {
  background-color: #306692;
  opacity: .8;
  color: #fff;
}

/* CONTAINER */

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 850px;
  text-align: center;
  background-color: #E8B377;
s}

h1 {
  margin: 0;
  padding: 40px 0 0 0;
}


/* FOOTER */

footer {
  width: 100%;
  height: 10em;
  padding: 0;
  background-color: #6292A8;
  text-align: center;
  clear: both;
}

footer p {
    margin:0 auto;
    padding: 1px;
    color: #000;
    line-height: 2;
    font-family: "Droid Sans";
    /*text-align: center;*/
  }

footer a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

footer a:hover {
  opacity: .8;
}

footer #social_media {
  width: 68%;
  float: left;
  display: inline-block;
  padding: 10px;
  text-align: left;
}  

footer #icon {
  padding: 0 8px;
  margin-top: 10px;
}

footer #copyright {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  margin: 4em 0;
}

footer #copyright span {
  color: darkred;
}

footer #contact {
  position: absolute;
  right: 0;
  margin: 2.5em 0;
  width: 28%;
  display: inline-block;
  /*padding: 10px;*/
}

footer #contact a {
  color: #fff;
}

#main_img_div img{
  width: 100%;
  height: 42.7em;
}

#main_img_div h1 {
  font-size: 2em;
  position: relative;
  right: 13em;
  bottom: 7em;
  padding: 0;
  color: silver;
  -webkit-text-stroke: 1px black;
  text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    opacity: .9;
}

#main_img_div h2 {
  font-size: 2em;
  position: relative;
  right: 9em;
  bottom: 5em;
  padding: 0;
  color: silver;
  -webkit-text-stroke: 1px black;
  text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    opacity: .9;
}

#main_img_div a i {
  position: relative;
  bottom: 5em;
  left: 12em;
  color: red;
}

#articles_div{
  padding: 1em 0em 8em 0;
}

#articles_div article {
  width: 30%;
  float: left;
  padding: 3em 1em 4em 1.95em;
  background-color: #E8B377
}

#articles_div img {
  width: 100%;
  height: 12em;
  border: 2px solid black;
  border-radius: 7em;
  margin: 1em 0;
}

#articles_div h2 {
  margin: 0 auto;
  text-align: center;
}

#articles_div p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
}

#about_us{
  text-align: center;
  padding: 1em;
}

#abs_nav {
  text-align: center;
  position: absolute;
  width: 10%;
}

#about_history {
  width: 60%;
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  
}

/* SERVICES - PRODUCT SECTION */

#product_section {
  margin: auto;
  width: 90%;
}


#product_section .product {
  height: 40%;
  width: 40%;
  margin: 30px 50px;
}

#product_section .product p {
  height: 200px;
  width: 250px;
  float: right;
  text-align: left;
  margin-top: 30px;
}

#product_section .product img {
  height: 200px;
  width: 200px;
  margin: 20px;
}

#product_section .product_discover_more_link {
  position: relative;
  color: #6292A8;
  bottom: 10px;
  left: 330px;
  width: 200px;
  text-decoration: none;
  font-weight: 900;
}

#product_section #horizontal_line_services {
  width: 65%;
  position: absolute;
  top: 563px;
  left: 220px;
}

#product_section #vertical_line_services {
  width: 35%;
  position: absolute;
  top: 570px;
  left: 450px;
  transform: rotate(90deg);
}

#product_section #product1 {
  float: left;
}

#product_section #product2 {
  float: left;
}

#product_section #product3 {
  float: left;
}

#product_section #product4 {
  float: left;
}


/* SERVICES - MODAL */

.modal_background {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /*text-align:center;*/
  background-color: rgba(0,0,0,.85);
}

#modal_product1 {
  display: none;
}

#modal_product2 {
  display: none;
}

#modal_product3 {
  display: none;
}

#modal_product4 {
  display: none;
}

.modal_product_container {
  position: absolute;
  height: 90%;
  width: 90%;
  margin: 40px 70px;
  border: 3px solid #E8B377;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
}

.modal_product_container img {
  height: 300px;
  width: 550px;
  border-radius: 10px;
  margin: 40px 50px 0;
  float: left;
  clear: left;
}

.modal_text_container {
  border-radius: 5px;
  margin: auto;
  height: 700px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -340px;
  text-align: left;
  padding:12px;
}

.modal_contact_link {
  position: absolute;
  bottom: 35px;
  left: 350px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6292A8;
  font-weight: 900;
  margin-right: -100px;
  line-height: 1.3em;
}

.modal_article1 {
  position: absolute;
  width: 550px;
}

.modal_article2 {
  position: absolute;
  width: 550px;
  top: 49%;
}

.modal_close {
  position: absolute;
  width: 25px;
  height: 30px;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: #E8B377;
  border-radius: 5px;

}

.modal_no_scroll {
  overflow: hidden;


#find_us {
  width: 38%;
  float: left;
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  text-align: justify;
}


#contact_form {
  width: 58%;
  float: right;
  display: inline-block;
  padding: 10px;
}

form {
  margin: auto;
  position: relative;
  width: 500px;
  padding: 10px;
  /*border-radius: 10px;*/
  /*border: 2px solid #000;*/
  color: #000;
}

input {
  position: relative;
  display: inline-block;
  margin: 1em;
  width: 300px;
  padding: 10px;
  line-height: 2;
  border: 2px solid #000;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: border 0.3s;
}

input:focus {
  border: 2px solid #e8b377;
}


textarea {
  position: relative;
  display: inline-block;
  margin: 1em;
  width: 300px;
  padding: 10px;
  line-height: 2;
  border: 2px solid #000;
  outline: none;
  border-radius: 0;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

textarea:focus {
  border: 2px solid #e8b377;
}

button {
  position: relative;
  display: inline-block;
  margin: 1em;
  max-width: 400px;
  width: 300px;

}

.btn {
  line-height: 2;
  border: 3px solid #000;
  border-radius: 5px;
  background: #fff;
  color: #e8b377;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: #fff;
  background: #e8b377;
}
