#product_section {
  margin: auto;
  width: 90%;
}

#product_section .product {
  height: 40%;
  width: 40%;
  margin: 30px 50px;
}

#product_section .product h2 {
  text-align: center;
}

#product_section .product p {
  height: 200px;
  width: 200px;
  float: right;
}

#product_section .product img {
  height: 200px;
  width: 200px;
  margin: 20px;
}

#horizontal_line_services {
  width: 65%;
  position: absolute;
  top: 560px;
  left: 220px;
}

#vertical_line_services {
  width: 35%;
  position: absolute;
  top: 570px;
  left: 440px;
  transform: rotate(90deg);
}

#product_section #product1 {
  float: left;
}

#product_section #product2 {
  float: left;
}

#product_section #product3 {
  float: left;
}

#product_section #product4 {
  float: left;
}

.modal_background {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align:center;
  background-color: rgba(0,0,0,.85);
}

.modal_product_container {
  position: absolute;
  height: 50%;
  width: 50%;
  margin: 350px;
  top: 0;
  left: 0;
  border: 2px solid red;
  text-align:center;
}

.modal_images img {
  height: 350px;
  width: 700px;
  position: relative;
  top: 25%;
  left: -300px;
  padding:12px;
}

.modal_text {
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  border:1px solid red;
  margin: auto;
  height: 500px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -350px;
  text-align: center;
  padding:12px;
}

.modal_close {
  position: absolute;
  width: 25px;
  height: 30px;
  top: 5px;
  right: 15px;
  text-align: center;
  font-size: 23px;
  color: #fff;
  background-color: red;
  border-radius: 5px;

}

footer {
  clear: both;
}




